# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema y logs
.DS_Store
Thumbs.db
*.log

# Entornos y configuración local
.env
.env.local
.vscode/
.idea/
